{{rent-pvd signOut="signOut"}}}}
<h1>Welcome!</h1>
<a href="/list-rentals">List Rentals</a>
<a href="/scientists">People Tracker</a>
<a href="/about">About</a>
<a href="/contat">Contact</a>
{{#link-to 'rentals' class='button'}}
  View Rentals
{{/link-to}}
{{outlet}}
